@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: #eee9e4;
    color: var(--color-texto-secundario) !important;


}

h2{
    font-weight: 700;
}

:root {
    --color-fondo: #e9dfd0;
    --color-primario: #f9f1e7;
    --color-secundario: #e7d1ba;
    --color-terciario: #948371;
    --color-texto-principal: #D6CCC2;
    --color-texto-secundario: #806565;
}

a {
    text-decoration: none;
    color: var(--color-texto-secundario);
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eee9e4;
    color: var(--color-texto-secundario) !important;

}

.login .card {
    width: 40%;
    height: 74vh;
    color: var(--color-texto-secundario) !important;
    border-radius: 0%;

}

.login .btn {

    padding: 10px 20px;
    background-color: var(--color-primario);
    color: var(--color-texto-secundario);
    border: none;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0px 4px 8px #947f7f;
    margin-top: 20px;
}

.login input{
    margin-top: 20px;
}

.login .form-check{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}

 .contenedor{
    display: flex;
    flex-direction: row;
}
.login .contenedor img{
    width: 30%;
}

/* REGISTRO */
.registro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eee9e4;
    color: var(--color-texto-secundario) !important;

}

.registro .card {
    width: 50%;
    height: 71vh;
    color: var(--color-texto-secundario) !important;
    border-radius: 0%;

}

.registro .btn {

    padding: 10px 20px;
    background-color: var(--color-primario);
    color: var(--color-texto-secundario);
    border: none;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0px 4px 8px #947f7f;
    margin-top: 20px;
}

.registro input{
    margin-top: 20px;
}

.registro .form-check{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
  }

  
  