@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

:root {
    --color-fondo: #e9dfd0;
    --color-primario: #f9f1e7;
    --color-secundario: #e7d1ba;
    --color-terciario: #948371;
    --color-texto-principal: #D6CCC2;
    --color-texto-secundario: #806565;
}

a {
    text-decoration: none;
    color: var(--color-texto-secundario);

}

/* botones */
.btn {
    padding: 10px 20px;
    background-color: var(--color-primario);
    color: var(--color-texto-secundario);
    border: none;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0px 4px 8px #947f7f;
}

.btn:hover {
    background-color: #f7f5f46d;

}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1rem;
}

/******* NAVBAR *********/
nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f0eeee00;
    padding: 10px 0;
    z-index: 1000;
    padding: 10px;
}


nav img {
    width: 20%;
    margin-left: 1vh;
    margin-top: -2vh;
}


ul {
    margin-top: 3vh;
}

/********** Primera sección ***************/
.seccion1 {
    background-color: var(--color-fondo);
    height: 100vh;
    display: flex;
    justify-content: space-between;
    color: var(--color-texto-secundario);
}

.contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    padding: 5vw;
}

/*  Tamaño fuente seccion 1 */
.contenido h1 {
    font-size: 4rem;
    margin: 0;
}

.contenido p {
    font-size: 0.9rem;
}

/* Imagen agenda y monedas */
.imagencontenedor1 img {
    width: 100%;
    height: 100%;
}

/*********** SECCION 2 *************/
.seccion2 {
    background-color: var(--color-primario);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 100vh;
    color: var(--color-texto-secundario);
}

.contenedor-seccion2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80%;
    text-align: center;
}

.texto2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    text-align: start;
    padding: 10px;
}


.seccion2 img {
    width: 80%;
    height: 85%;
}

.seccion2 h3 {
    font-weight: 400;
}

.seccion3 {
    width: 100%;
    background-color: var(--color-fondo);
    text-align: center;
    color: var(--color-texto-secundario);
    padding: 10px;
}

.servicios {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    padding: 20px;
}

.seccion3 h2 {
    font-size: 3rem;

}

.servicios-items h3 {
    font-size: 2rem;
}

.servicios-items {
    width: 30vw;
    margin-top: 10%;
}

.servicios-items img {
    height: 20%;
}

.seccion4 {
    background-color: var(--color-fondo);
    color: var(--color-texto-secundario);
    text-align: center;
}

.seccion4 img {
    width: 60%;
    height: 100%;
}

.seccion4 h2 {
    padding: 30px;
}


footer {
    background-color: var(--color-secundario);
    color: var(--color-texto-secundario);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
    height: 100%;
    padding: 30px;
}

footer ul {
    list-style-type: none;
}